@import "tailwindcss";


:root {
  --light-hover: #fcf4ff;
  --dark-hover: #2a004a;
  --dark-theme: #11001f;

  --text-light: #000000;
  --text-dark: #ffffff;
}


* {
  font-family: Outfit;
}

html {
  color: var(--text-color);
  background-color: var(--background);
}


.font-outfit {
  font-family: 'Outfit', sans-serif;
}


/* Dark Mode Variables */
.dark {
  --background: var(--dark-theme);
  --text-color: var(--text-dark);
}



.font-ovo {
  font-family: 'Ovo', sans-serif;
}

.shadow-white:hover {
  box-shadow: 4px 4px 0 #fff;
}

.shadow-black:hover {
  box-shadow: 4px 4px 0 #000;
}

.grid-cols-auto {
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}